<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  

  <!-- Alias del Fachada del Modelo. -->
  <alias alias="FachadaModelo"                  type="Dominio.Fachada, Dominio" />

  <!-- Alias de todas las Fachada de Persistencia. -->
  <alias alias="FachadaPersistencia"        type="Persistencia.Fachada, Persistencia" />



  <container>
    <!-- Mapeo de referencias -->
    
    <register type="FachadaModelo">
      <lifetime type="singleton"/>
    </register>
    
    <register type="FachadaPersistencia"/>
    

    
  </container>
</unity>
